<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">        
    <title>Chambitas - Editar Perfil</title>
</head>

<script>
function myFunction() {
    alert("Tu información se ha guardado con éxito!");
}
</script>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

h1 {
  text-align: center;
}

</style>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="homeUsuarios.html">
          <img src="nombreLogo.png" style="width: 150px">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="chat.html">
            <span class="glyphicon glyphicon-inbox" ></span>
          </a>
        </li>
        <span class="badge">15</span>
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style=" margin-top: 8px; border: none; background-color: #f7f7f7;">
          <span class="glyphicon glyphicon-user"></span></a></li>
        <span class="caret"></span>

      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar Perfil</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="guardados.html">Guardados</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cerrar Sesión</a></li>
      </ul>
    </ul>
  </div>
</nav>

<body>


  <div class="row">
    <div class ="col-md-1"></div>
      <div class="col-md-3">
       <div class="_nvyyp">
        <div class="media-left media-top">
         <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:125px; margin-left: 100px; margin-top: 40px; margin-bottom: 10px">
          <p style="font-size: 150%; text-align: center">Actualizar foto de perfil</p>
            <input type="file" class="form-control" style="margin-left: 20px; margin-right: 40px">
        </div>   
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-7">
        <div class="_nvyyp">
          <div class="container-fluid">
            <div class="media">
              <div class="media-left media-top">
              </div>
              <br>
              <br>
              <div class="media-body">
                <h1>Información personal</h1>
                <br>
                <br>
                <br>
              </div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Nombre:</label>
                  <div class="col-lg-8">
                    <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Nombre" aria-required="true" autocapitalize="off" autocorrect="off" name="Nombre" placeholder="Nombre" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Apellido:</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Apellido" aria-required="true" autocapitalize="off" autocorrect="off" name="Apellido" placeholder="Apellido" value="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Correo elecrónico:</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Correo Electrónico" aria-required="true" autocapitalize="off" autocorrect="off" name="email" placeholder="Correo Electrónico" value=""> 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Nueva contraseña:</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Contraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="Contraseña" placeholder="•••••••" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Confirmar contraseña:</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="ConFContraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="ConFContraseña" placeholder="•••••••" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="button" class="btn btn-primary" value="Guardar cambios" onclick="myFunction()">
                    <span></span>
                    <a href="homeUsuarios.html" class="btn btn-primary" role="button"> Cancelar</a>
                  </div>
                </div>
              </form>         
            </div>
           </div> 
        </div>    
    </div> 
    <div class ="col-md-1"></div>
      </div>
  </div>
</div>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<hr>
<p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
<br>
  </div>
</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/class.js" type="text/javascript"></script>

</html>
