<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">        
    <title>Chambitas - Mensajes</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

h1 {
  text-align: center;
}

</style>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="homeWorkers.html">
        <img src="nombreLogo.png" style="width: 150px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="chat.html"><span class="glyphicon glyphicon-inbox" ></span></a></li>
     <span class="badge">15</span>
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style=" margin-top: 8px; border: none; background-color: #f7f7f7;">
        <span class="glyphicon glyphicon-user"></span></a></li>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar Perfil</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="guardados.html">Guardados</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cerrar Sesión</a></li>
      </ul>
    </ul>
  </div>
</nav>


  <div class="row-md-9">
    <div class ="col-md-1"></div>
    <div class="col-md-3">
      <div class="_nvyyp">
          <p style="text-align: center; font-weight: 200px; font-size: 30px; margin-bottom: 25px; margin-top: 25px"> Mensajes </p>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:45px; margin-left: 20px; margin-bottom: 0px; margin-top: 0px">
            </div>
            <div class="col-md-6">
              <p style="font-weight: 20px; font-size: 130%; margin-top: 10px"> Nombre • Oficio </p>
            </div>
            <div class="col-md-3">
              <span class="badge" style="margin-top: 12px">3</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:45px; margin-left: 20px; margin-bottom: 0px">
            </div>
            <div class="col-md-6">
              <p style="font-weight: 20px; font-size: 130%; margin-top: 10px"> Nombre • Oficio </p>
            </div>
            <div class="col-md-3">
              <span class="badge" style="margin-top: 12px"></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:45px; margin-left: 20px; margin-bottom: 0px">
            </div>
            <div class="col-md-6">
              <p style="font-weight: 20px; font-size: 130%; margin-top: 10px"> Nombre • Oficio </p>
            </div>
            <div class="col-md-3">
              <span class="badge" style="margin-top: 12px">10</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:45px; margin-left: 20px; margin-bottom: 0px">
            </div>
            <div class="col-md-6">
              <p style="font-weight: 20px; font-size: 130%; margin-top: 10px"> Nombre • Oficio </p>
            </div>
            <div class="col-md-3">
              <span class="badge" style="margin-top: 12px">2</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:45px; margin-left: 20px; margin-bottom: 0px">
            </div>
            <div class="col-md-6">
              <p style="font-weight: 20px; font-size: 130%; margin-top: 10px"> Nombre • Oficio </p>
            </div>
            <div class="col-md-3">
              <span class="badge" style="margin-top: 12px"></span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="_nvyyp">
          <div class="container-fluid">
            <div class="row-md-2">
              <!--<div class="media">-->
                <div class="media-left media-top">
                  <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:45px; margin-left: 20px; margin-top: 18px; margin-bottom: 0px">
                </div>
                <div class="media-body">
                  <p style="font-weight: 20px; margin-top: 12px; margin-bottom: 0px; font-size: 200%"> Nombre Apellido </p>
                  <p style="font-weight: 20px; margin-top: 0px; margin-bottom: 0px"> Oficio  </p>
                </div>
                <hr>
              <!--</div>-->
            </div> 
            <div class="row-md-6">
              <div class="col-md-6">
                <div class="alert" style="background-color: #f2f2f2">Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis.</div>
              </div>
              <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="alert" style="background-color: #c6eceb; margin-bottom: 5px">Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones.</div>
                <div class="alert" style="background-color: #c6eceb">His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis.</div>
              </div>
          </div>
                    
          <div class="row-md-4">
            <hr>
            <br>
            <div class="form-group">
              <textarea class="form-control" rows="2" id="mensaje" placeholder="Escriba un mensjae aquí..."></textarea>
              <a href="homeUsuarios.html" class="btn btn-info" role="button" style="margin-left: 715px">Enviar</a>
            </div>
          </div>
        </div>    
    </div>
    <div class ="col-md-1"></div>
  </div>
</div>
<div class="row-md-2">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <br>
    <img src="http://www.businessreviewamericalatina.com/public/uploads/large/large_article_im450_homedepot.jpg" style="width: 230px; height: 120px; margin-left: 120px">
  </div>
  <div class="col-md-2">
  <br>
    <img src="https://www.acayucan.com/anuncios/Comex2012.jpg" style="width: 230px; height: 120px; margin-left: 120px">
  </div>
  <div class="col-md-2">
  <br>
    <img src="http://1.bp.blogspot.com/-69ICIhyzFVE/ViUmxCcxzwI/AAAAAAAADzA/MSy_UFPRzdM/s1600-r/intercramic%2Bbanner.bmp" style="width: 200px; height: 120px; margin-left: 120px">
  </div>
  <div class="col-md-2">
  <br>
    <img src="https://scontent-dft4-1.xx.fbcdn.net/t31.0-8/15235367_10157696457505468_3553033073448234861_o.png" style="width: 230px; height: 120px; margin-left: 90px">
  </div>
  <div class="col-md-2">
  <br>
    <img src="http://media.cuponofertas.com.mx/2015/06/promocion-cemex-extra.jpg" style="width: 230px; height: 120px; margin-left: 90px">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row-md-1">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  <br>
  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  
</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/class.js" type="text/javascript"></script>

</html>
