<!DOCTYPE <html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">        
    <title>Chambitas - Regístrate</title>
</head>
<style>
@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
    background-color: #f7f7f7;
    font-family: "com_century-gothic";
}
._nvyyp {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
  font-style: white;
}

.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}

h1 {
  text-align: center;
}

</style>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="home.html" data-toggle="tooltip" title="Cancelar">
            <img src="nombreLogo.png" style="width: 150px">
        </a>
    </div>
  </nav>
  <br>
  <br>
  <br>
  
  <div class="row">
      <div class ="col-md-1"></div>
      <div class="col-md-4">
        <div class="_nvyyp">
          <h1 style="margin-top: 30px; margin-bottom: 70px; text-align: left; margin-left: 50px; font-weight: bold"> Crea una cuenta </h1>

         <div style="margin-left: 35px; margin-right: 10px">
          <div class="col-xs-5">
            <label for="name">Nombre</label>
            <input type="text"  id="fname" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Nombre" aria-required="true" autocapitalize="off" autocorrect="off" name="Nombre" placeholder="Nombre" value="">
          </div>
        </div>

        <div style="margin-left: 155px">
          <div class="col-xs-8">
           <label for="name">Apellido</label>
            <input type="text" id="lname" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Apellido" aria-required="true" autocapitalize="off" autocorrect="off" name="Apellido" placeholder="Apellido" value="">
          </div>
        </div>
      
            <div style="margin-left: 50px; margin-right: 50px">
             <label for="name">Correo Electrónico</label>        
              <input type="text" id="email" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Correo Electrónico" aria-required="true" autocapitalize="off" autocorrect="off" name="email" placeholder="Correo Electrónico" value=""> 
            </div>
      
            <div style="margin-left: 50px; margin-right: 50px"> 
             <label for="name">Contraseña</label>       
              <input type="password" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="Contraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="Contraseña" placeholder="•••••••" value=""> 
            </div>  

            <div style="margin-left: 50px; margin-right: 50px">
             <label for="name">Confirme Contraseña</label>
              <input type="password" id="password" class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="ConFContraseña" aria-required="true" autocapitalize="off" autocorrect="off" name="ConFContraseña" placeholder="•••••••" value="">
            </div>
            <hr>
   
              <form>
                <div class="form-group" style="margin-left: 50px; margin-right: 50px">
                <label for="name">País</label>
                  <select class="form-control" id="country" >
                    <option>Seleccione una opción...</option>
                    <option>México</option>
                    <option>United States</option>
                    <option>Canada</option>
                  </select>
                </div>
              </form>

        <div style="margin-left: 50px; margin-right: 50px">
        <label for="name">Ciudad</label>
          <input type="text" id ="city" class="form-control" style="margin-bottom: 8px" aria-describedby="" aria-label="Ciudad" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="city" placeholder="Ciudad" value=""> 
        </div>

        <div style="margin-left: 50px; margin-right: 50px">
        <label for="name">Estado</label>
          <input type="text" id="state" class="form-control" style="margin-bottom: 8px" aria-describedby="" aria-label="Estado" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="state" placeholder="Estado" value="">
        </div>
         
        <hr>  
          <div style="margin-left: 50px; margin-right: 50px">
          <form>
          <label for="name">Seleccione una opción...</label>
            <div class="radio" id="type">
              <label><input type="radio" name="optradio">Busco un trabajador</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">Soy un trabajador</label>
            </div>
          </form>
        </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="_nvyyp">
        <div class="container-fluid">
            <div class="media">
              <div class="media-left media-top">
                <img class="img-circle" src="http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png" class="media-object" style="width:125px; margin-left: 250px; margin-top: 40px">
              </div>
              <div class="media-body">
                <h2 class="media-heading" style="margin-top: 65px; margin-left: 5px; font-weight: bold">Nombre</h2>
                <h2 class="media-heading" style="margin-left: 5px; font-weight: bold">Apellido</h2>
                <br>
                <br>
              </div>
            </div>
           </div> 
           <br>
           <br>

           <div style="margin-left: 50px; margin-right: 50px">
              <form>
                <div class="form-group">
                <label for="name">Oficio</label>
                  <select class="form-control" id="sel1" >
                    <option>Seleccione una opción...</option>
                    <option id="hogar">Ayudante del Hogar</option> 
                    <option id="carpinteria">Carpintería</option> 
                    <option id="cerrajeria">Cerrajería</option> 
                    <option id="construccion">Construcción y Decoración</option> 
                    <option id="electricista">Electricista</option> 
                    <option id="instalaciones">Instalaciones</option> 
                    <option id="jardineria">Jardinería</option> 
                    <option id="tecnico">Técnico</option>
                    <option id="plomeria">Plomería/Fontanería</option> 
                  </select>
                </div>
              </form>
            </div>
            <br>

            <label for="name" style="margin-left: 50px; margin-right: 50px" >Servicios</label>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <p>Seleccione los trabajos realizará</p>
              <form>
                <div class="well" id="carpinteriaOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Fabricación y colocación de puertas y ventanas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Muebles sobre diseño
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cocinas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Comedores
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Closets
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Muebles de baño
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Reparación/mantenimiento de muebles
                    </label>
                    <label class="checkbox" id="otroCarpintero">
                      <input type="checkbox" value="">Otro
                    </label>
                    <div class="col-xs-5">
                      <input id="otroCarpinteroText" type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div> 
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="plomeriaOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Limpieza
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Lavado
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Mantenimiento
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Reparación
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Desinfección
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cisternas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Tinacos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Bombas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Instalaciones de gas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Instalaciones hidráulicas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Instalaciones sanitarias
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Mantenimiento a instalaciones de gas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Mantenimiento hidráulico
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Mantenimiento sanitario
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Reparaciones a instalaciones de gas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Reparaciones hidráulicas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Reparaciones sanitarias
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Otro
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div> 
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="electricistaOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Instalación de redes eléctricas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Mantenimiento de redes eléctricas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Reparaciones de redes eléctricas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cableado
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Sistemas de tierras, instalaciones residenciales
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cerrado y peinado de tableros
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Instalaciones en alta tensión, subestaciones, control y señalización
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Otro
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div> 
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="construccionOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Muros de tablaroca
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Plafón falso
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cielos acústicos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Pasta
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de mármol
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de loseta
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de cerámica
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de porcelanato
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de tapetes
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de cortinas/persianas/mosquiteros
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de azulejos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Colocación de cantera
                    </label>
                     <label class="checkbox">
                      <input type="checkbox" value="">Pintura
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Molduras
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Fuentes
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Albañilería en general
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Retapizado de muebles
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Otro
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div> 
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="jardineriaOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Cortar el césped y sus bordes
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Podar/limpiar plantas y arbustos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Oxigenación de suelo, cajetes y jardines
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Desyerbado/limpieza de plagas vegetales
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Limpieza de césped, jardineras y cajetes
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Tratamiento para prevención y control de plagas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Conservación y perfilado de cetos y jardines
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Mantenimiento de arbolado
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Diseño de jardines
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Fertilización y fumigación
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Podas y derribo de árboles
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Otro
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div> 
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="instalacionesOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Aire acondicionado
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Ventiladores de techo
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Electrodomésticos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Filtros de agua
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cortinas/Persianas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Jardines verticales artificiales
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Portones eléctricos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cámaras de seguridad
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Alarmas de seguridad
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Otro
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="hogarOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Limpieza doméstica
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Limpieza doméstica (de planta)
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Chalán/Mozo
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cocinero
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Limpieza de tapicerías
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Limpieza de ventanas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Lavado de colchones
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="cerrajeriaOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Duplicado de llaves
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Duplicado de llaves de seguridad
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Apertura de puertas
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Apertura de puertas de seguridad
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Fabricación de llaves maestras
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Fabricación de llaves a partir de cerraduras
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cambio de combinación de cerraduras
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Cambio de combinación de cerraduras de seguridad
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <br>
            <div style="margin-left: 50px; margin-right: 50px; border: 1px">
              <form>
                <div class="well" id="tecnicoOpc" style="display: none">
                  <div class="container-fluid" style="margin-left: 30px">
                    <label class="checkbox">
                      <input type="checkbox" value="">Electrodomésticos
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Televisiones
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Sistemas de sonido
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" value="">Aparatos elecrónicos en general
                    </label>
                    <div class="col-xs-5">
                      <input type="text"  class="form-control" style="margin-bottom: 8px" aria-describedby="ssfErrorAlert" aria-label="otro" aria-required="true" autocapitalize="off" autocorrect="on" name="Otro" placeholder="Por favor especifíque..." value="">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <br>

            <div style="margin-left: 50px; margin-right: 50px">
              <form>
                <div class="form-group">
                <label for="name">Trabajo en</label>
                  <select class="form-control" id="sel1" >
                    <option>Seleccione una opción...</option>
                    <option>Zona Real</option>
                    <option>Santa Anita</option>
                    <option>Bugambilias</option>
                    <option>Colinas de San Javier</option>
                  </select>
                </div>
              </form>
            </div>
            <br> 

          <div style="margin-left: 50px; margin-right: 50px">
            <div class="form-group">
            <label for="name">TÉRMINOS Y CONDICIONES</label>
              <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                  <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique forensibus vel.</p>
                  <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
                  <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet iisque quo, prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in vim, mea at omnium oblique.</p>
                  <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei iisque legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio lobortis elaboraret pro. Vix te fabulas partiendo.</p>
                  <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per et. Mea eu mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu nostrud postulant dissentias qui. Postea tincidunt vel eu.</p>
                  <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius nonumes, no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero meliore deserunt ius ea. An qui inimicus inciderint.</p>
              </div>
            </div>
          </div>


       <div style="margin-left: 50px; margin-right: 50px">
          <form>
            <div class="radio">
              <label><input type="radio" name="optradio">Acepto los términos y condiciones</label>
            </div>
          </form>
        </div>
         
          <div style="margin-left: 50px; margin-right: 50px">
            <a id="crearCuenta" href="homeUsuarios.html" class="btn btn-info" role="button" style="float: right">Crear cuenta</a>
          </div> 
          <br>
          <br>  
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="row-md-12">
  <div class="col-md-8"></div>
  <div class="col-md-4">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <p style="text-align: right; margin-right: 50px; text-align: bottom"> Chambitas 2016 </p> 
  </div>
</div>  
  </div>

</div>  
</body>

<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="css/styles.css" type="text/css"></script>

</html>